name: Pulumi

on:
  push:
    branches:
      - main
  pull_request_target:
    types:
      - opened
      - synchronize
    branches:
      - main

jobs:
  update:
    runs-on: ubuntu-latest

    concurrency:
      group: deploy

    permissions:
      contents: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version-file: .python-version

      - name: Install vscode-task-runner
        run: uv tool install vscode-task-runner

      # - name: Get Pulumi Version
      #   id: pulumi_version
      #   run: echo "pulumi_version=$(uv run scripts/get_pulumi_version.py)" >> "$GITHUB_OUTPUT"

      - name: Install Pulumi
        uses: pulumi/actions@v6
        # with:
        #   pulumi-version: ${{ steps.pulumi_version.outputs.pulumi_version }}

      - name: Setup secrets
        run: echo "${{ secrets.ENVIRONMENT_FILE }}" > .env

      - name: Pulumi Preview
        if: contains(github.event_name, 'pull_request')
        run: vtr preview --expect-no-changes

      - name: Pulumi Update
        if: github.event_name == 'push'
        run: vtr update --yes